spring:
  application:
    name: chromamon-data-process
  datasource:
    url: jdbc:postgresql://localhost:5433/chroma_db?currentSchema=report
    username: chroma_user
    password: chroma_pass
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
